*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  body{
    font-family: "Open Sans", sans-serif;

 } 
.navbar{

    width: 100%;
  position: relative;
  z-index: 99999999999999999;
   
}
.navbar .nav-item .nav-link{
color: #fff;
transition: color 0.5s;
line-height: 50px;

}
.navbar .nav-item .nav-link:hover
{
    color:#f25454;
}
.navbar-nav>li.active>a{
    color: tomato !important;
}
.navbar .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    padding-top: 0;
    padding-bottom: 0;

    font-family: "Poppins", sans-serif ;}

.navbar .collapse  .navbar-social{
    position: relative;
    float: right;
    line-height: 50px;
    margin-left: 40px;
   
} 
.navbar .collapse .navbar-social .so{
    color: #fff;
}
 .navbar .collapse .navbar-social .so:hover{
    color:#f25454 !important ;
} 
.navbar .navbar-social a>i {
    padding: 0 0px;}
    .headimage
    {
        width: 100%;
        height: 100%;
    
    }
    .headcontent h1 
    {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 30%;
    font-size: 70px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    line-height: 90%;
    width: 40%;
    }
 .home{
     
   
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    position: relative;
    
}  
.home .cap{
    font-size:70px;
    
}

.back1 {
    height: 100%;
}
 #big-h{
    
    
    position: relative;
    z-index: 2000000;
} 
.setting{
    background-color: rgb(27, 25, 25);
    padding: 10px;
    position: fixed;
    left: 0;
    top: 20%;
}
.setting .fas{
    font-size: 20px;
}
.Signal{
    
    left: 0;
    top: 50%;
  
}

.Signals{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-left: none;
    background-color: transparent;
    
}

#n:hover{
    background-color: #f25454;
}

 .home .carousel  .Signal .trans :hover{
    background-color: #fff;
 

 
}  

.home .scrol{
    position: absolute;
    z-index: 200000;
    right: 50%;
    width: 5px;
    height: 5px;
    bottom: 50px;
    border: 2px solid #fff;
    padding: 19px 11px;
    
}
.home .scrol:hover{
    
    border: 2px solid #f25454;
}
.home .scrol::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 6px;
    bottom: 10px;
    left: 9px;
    background-color: #fff;
    animation: scrol 3s infinite;
}

@keyframes scrol{
    25%{bottom: 10px;}
    50%{bottom: 20px;}
    75%{bottom: 10px;}
    100%{bottom: 20px;}
  
}

 .title h3{
    font-size: 40px;
    font-weight: 900;
    
    font-family: "Poppins", sans-serif;
    color: #282828;
}
 .title h2{
    
    font-size: 100px;
    font-weight: 900;
    color: #e9dfdf;
}
#pragh{
    line-height: 1.5em;
    
    font-size: 17px;
    color: #999;
}
#A-US{
   
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    color: #666;
}
.client .carousel-item img{
    width: 100px;
}
.container .carousel-inner .carousel-item  p{
    font-size: 25px;
    line-height: 1.5em;
}
.carousel-indicators li{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    text-indent: 0;
}
.member{
    overflow: hidden;
    position: relative;
  
}
.member-layer .inner .icons .icon{
    background-color: #f25454;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 0;
    transition: all 2s;
    
    
}
.member:hover .member-layer .inner .icons .icon{
    opacity: 0.4;
    
}

.member:hover img{
    transform: scale(1.2,1.2);
}

#services,#Communicate{
    background-color: #fafafa;

}
.service-icon{
    top: 0px;
    left: -40px;
    font-size: 1.5rem;
    color: rgba(242, 84, 84);
}
#Communicate h4{
font-size: 20px;
line-height: 24px;
font-weight: 600;
}
#Communicate h3{
    font-size: 35px;
    line-height: 32px;
    font-weight: 600;
    }
  
 #Communicate .btn{
        background-color: #F25454;
        color: white;
        width: 180px;
        height: 50px;
        border: 2px solid;
    }
  #Communicate .btn:active{
        color: black;
        border-color: black;
    }
    #footer{
        background-image: url(images/dotted-map.png);
        background-color:#222222;
        background-size: contain;
        background-position: center center;
        color:#928787;
        font-family: "Poppins", sans-serif;
    }
    #footer a{
        color:#928787;
        text-decoration: none;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
    #footer a:hover{
        color:#f25454;
        border-color: #f25454;
    
    }
    #footer ul {
        list-style: none;
       
        
        padding-left: 0%;
    }
    #footer h5{
        padding-bottom: 10px;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }
    .front li {
        float: left; 
        padding: 5px 5px;
      }
    .front li a{
        padding: 5px;
        border: 1px solid #ccc7c7;
        font-size: 13px;
        border-radius: 3px; 
}






    




